<%= form_for(@amount) do |f| %>
  <% if @amount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amount.errors.count, "error") %> prohibited this amount from being saved:</h2>

      <ul>
      <% @amount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :unidad %><br>
    <%= f.text_field :unidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
