<p id="notice"><%= notice %></p>

<p>
  <strong>Duracion:</strong>
  <%= @duration.duracion %>
</p>

<p>
  <strong>Dias duracion:</strong>
  <%= @duration.dias_duracion %>
</p>

<%= link_to 'Edit', edit_duration_path(@duration) %> |
<%= link_to 'Back', durations_path %>
