<!DOCTYPE html>
<html>
<head>
  <title>Medicamentos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render "layouts/navbar" %>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
